rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Modo de teste: libera leitura/escrita por 30 dias.
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2026, 5, 12);
    }
  }
}
